.logo-img{
    float:left;
}
.clear:after{
    content:".";
    display:block;
    height:0;
    overflow:hidden;
    font-size:0;
    clear:both;
}
.clear{
    zoom:1;
}
/* footer */
.bot-img{
    padding-left:45px;
}
